<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHuj-e4m_Qd1BrVvcoSKl4USRz2yBMNE0</string>
	<key>GCM_SENDER_ID</key>
	<string>193139985154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>modak-challenge</string>
	<key>PROJECT_ID</key>
	<string>push-notifications-fc</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notifications-fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193139985154:ios:0d6430d2867d60a55f901b</string>
</dict>
</plist>